@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --color-light-50: #F0EBD1;
  --color-dark-50: #BAAF95;
  --color-dark-100: #624129;
  --color-dark-900: #241B18;
  --color-red-50: #730000;
} /* pré define cores usadas no css */
* {
  font-family: "Manrope", sans-serif; /* adiciona fonte na base do arquivo */
  margin: 0; /* coloca margem da página como 0 */
  padding: 0; /* coloca padding da página como 0 */
  box-sizing: border-box; /* fomata o border box universal do projeto */
}

body {
  background-color: var(--color-dark-50); /* define a cor de fundo do body */
  min-height: 100vh; /* define a altura mínima do body como 100% da altura da viewport */
}

#head {
  background-color: var(--color-light-50); /* define a cor de fundo do cabeçalho */
  display: flex; /* adiciona customização de display = flex */
  justify-content: space-between; /* adiciona espaçamento entre os itens do flex */
  flex-direction: column; /* organiza os itens do flex em coluna */
  align-items: center; /* alinha os itens do flex verticalmente ao centro */
  position: fixed; /* fixa o cabeçalho no topo da página */
  top: 0; /* garante que o cabeçalho fique no topo */
  left: -50px; /* garante que o cabeçalho fique alinhado à esquerda */
  width: 50px;
  height: 100vh;
  align-items: center; /* alinha os itens do flex horizontalmente ao centro */
  padding: 30px 30px;
  border-radius: 0 20px 20px 0; /* adiciona borda arredondada ao cabeçalho */
  z-index: 1000; /* garante que o cabeçalho fique acima de outros elementos */
  transition: left 0.3s ease; /* adiciona uma transição suave para a propriedade left */
  /* Ao passar o mouse sobre a barra lateral */
}
#head.hover {
  left: 0; /* coloca o header novamente como aba lateral visível */
}
#head #head_itens {
  display: flex; /* adiciona customização de display = flex */
  flex-direction: column; /* organiza os itens do flex em coluna */
  align-items: center; /* alinha os itens do flex verticalmente ao centro */
  gap: 10px; /* adiciona espaçamento entre os itens do flex */
}
#head #head_itens h2 {
  color: var(--color-dark-900); /* define a cor do texto do título */
  font-family: "Manrope", sans-serif; /* define a fonte do título */
  text-align: center; /* centraliza o texto do título */
  position: relative; /* permite posicionar o título em relação ao seu contêiner */
}
#head #head_itens h2::after {
  content: ""; /* cria um pseudo-elemento vazio */
  display: block; /* exibe o pseudo-elemento como um bloco */
  width: 25px; /* define a largura do pseudo-elemento */
  height: 2px; /* define a altura do pseudo-elemento */
  background-color: var(--color-dark-100); /* define a cor de fundo do pseudo-elemento */
  margin: 5px auto 0; /* centraliza o pseudo-elemento horizontalmente */
  border-radius: 3px; /* adiciona borda arredondada ao pseudo-elemento */
}
#head #head_itens #head_svg img {
  width: 28px; /* define a largura da imagem do logo */
  height: auto; /* define a altura da imagem do logo */
  margin-bottom: 20px; /* adiciona margem inferior para espaçamento */
}
#head #head_itens #head_links a {
  background-color: white; /* define a cor de fundo dos links */
  color: black; /* define a cor do texto dos links */
  width: 40px; /* define a largura dos links */
  height: 40px; /* define a altura dos links */
  border-radius: 10px; /* torna os links circulares */
  text-decoration: none; /* remove o sublinhado dos links */
  font-size: 20px; /* define o tamanho da fonte dos links */
  transition: 0.2s; /* adiciona uma transição suave ao passar o mouse */
  display: flex; /* adiciona customização de display = flex */
  flex-direction: column; /* organiza os itens do flex em coluna */
  align-items: center; /* alinha os itens do flex horizontalmente ao centro */
  justify-content: center; /* alinha os itens do flex verticalmente ao centro */
}
#head #head_itens #head_links a:hover {
  background-color: var(--color-dark-100); /* muda a cor de fundo ao passar o mouse */
  color: var(--color-dark-100); /* muda a cor do texto ao passar o mouse */
}
#head #head_itens #head_links a:hover i {
  color: white; /* muda a cor do ícone ao passar o mouse */
}
#head #head_itens #head_links {
  display: flex; /* adiciona customização de display = flex */
  flex-direction: column; /* organiza os itens do flex em coluna */
  align-items: center; /* alinha os itens do flex verticalmente ao centro */
  border-radius: 20px; /* adiciona borda arredondada aos links */
  gap: 20px; /* adiciona espaçamento entre os links */
  padding: 10px 8px; /* adiciona padding superior e inferior de 10px */
}
#head #low {
  display: flex; /* adiciona customização de display = flex */
  flex-direction: column;
  align-items: center; /* alinha os itens do flex verticalmente ao centro */
  gap: 20px; /* adiciona espaçamento entre os itens do flex */
}
#head #low #config, #head #low #exit {
  display: flex; /* adiciona customização de display = flex */
  align-items: center; /* alinha os itens do flex verticalmente ao centro */
  border: none; /* remove a borda dos botões */
  justify-content: center; /* alinha os itens do flex horizontalmente ao centro */
  width: 30px; /* define a largura dos botões */
  height: 30px; /* define a altura dos botões */
  border-radius: 50%; /* torna os botões circulares */
  background-color: var(--color-dark-100); /* define a cor de fundo dos botões */
  color: white; /* define a cor do texto dos botões */
  cursor: pointer; /* muda o cursor para indicar que é clicável */
  transition: background-color 0.3s ease; /* adiciona uma transição suave ao passar o mouse */
}
#head #low #config:hover, #head #low #exit:hover {
  background-color: var(--color-dark-900); /* muda a cor de fundo ao passar o mouse */
}

.user {
  position: absolute; /* fixa a div do usuário na tela */
  top: 10vh;
  left: 13vh;
  display: flex;
  background-color: white;
  padding: 5px 16px;
  border-radius: 50px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.24);
  z-index: 2;
  transition: all 0.15s ease;
  cursor: pointer;
  /* Balão de opções oculto inicialmente */
}
.user.show_user {
  opacity: 1;
  transition: all 1s ease;
  transform: translateX(0);
}
.user:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  transform: translateX(-2px);
}
.user.show_user:hover {
  transform: translateX(0) translateY(-2px);
}
.user .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user span {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  font-weight: bold;
  opacity: 0.9;
}
.user .focus-effect {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.user .dropdown {
  position: absolute;
  top: 100%;
  right: -15vh;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 0 20px;
  gap: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.user .dropdown a, .user .dropdown button {
  display: block;
  text-decoration: none;
  color: var(--color-dark-900);
  font-weight: bold;
  background: none;
  border: none;
  text-align: left;
  padding: 5px 10px;
  border-radius: 50px;
  transition: background 1s ease;
}
.user .dropdown a:hover, .user .dropdown button:hover {
  background-color: var(--color-light-50);
}

.anonymous {
  position: absolute; /* fixa a div do usuário na tela */
  top: 10vh;
  right: 13vh;
  display: flex;
  background-color: white;
  padding: 5px 16px;
  border-radius: 50px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.24);
  z-index: 2;
  transition: all 0.15s ease;
  cursor: pointer;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.anonymous:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  transform: translateX(2px);
}
.anonymous i {
  font-size: 1.5em;
  color: var(--color-dark-900);
  margin-right: 10px;
}
.anonymous span {
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  opacity: 0.7;
}

.dad {
  background-color: var(--color-light-50);
  position: relative;
  top: 24vh;
  transform: translateX(-50%);
  left: 50%;
  width: 90%;
  height: 114vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dad .title {
  position: relative;
  background-color: var(--color-red-50);
  color: var(--color-light-50);
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  border-radius: 30px;
  top: -15px;
}
.dad .title h1 {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  font-family: "Manrope", sans-serif;
  font-size: 3em;
}
.dad h3 {
  font-family: "Manrope", sans-serif;
  font-size: 2em;
  color: var(--color-red-50);
  position: relative;
  margin-top: 7vh;
  left: -60vh;
}
.dad .nota {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20vh;
}
.dad .nota .ntem {
  font-family: "Manrope", sans-serif;
  font-size: 1.5em;
  color: var(--color-dark-900);
}
.dad .nota a {
  text-decoration: none;
}
.dad .nota button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-red-50);
  color: var(--color-light-50);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.dad .nota button i {
  font-size: 1.5em;
}
.dad .nota button:hover {
  background-color: var(--color-dark-100);
}
.dad .son {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3vh;
  height: 100%;
  width: 90%;
  background-color: var(--color-dark-50);
  border-radius: 20px;
  margin-bottom: 5vh;
}
.dad .son .occurred {
  position: relative;
  padding: 5vh 8vh 3vh 8vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dad .son .occurred label {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  color: var(--color-dark-900);
  margin-left: 2vh;
}
.dad .son .occurred textarea {
  width: 100%;
  height: 14vh;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  resize: none; /* impede o redimensionamento */
}
.dad .son .row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 6.4%;
  margin-top: 3vh;
}
.dad .son .row div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dad .son .row div label {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  color: var(--color-dark-900);
  margin-left: 2vh;
}
.dad .son .row div input {
  width: 74vh;
  height: 12vh;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-family: "Manrope", sans-serif;
  font-size: 1em;
}
.dad .son .anex {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 8vh;
}
.dad .son .anex label {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  color: var(--color-dark-900);
  margin-left: 2vh;
}
.dad .son .anex .files {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 12vh;
  align-items: center;
}
.dad .son .anex .files .line {
  border-left: 1px solid rgb(175, 175, 175);
  height: 130%;
  position: relative;
  top: 0;
  margin: 0 10px;
}
.dad .son .anex .files div {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  margin: 0 20px;
  cursor: pointer;
}
.dad .son .anex .files div button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-size: 1em;
}
.dad .son .anex .files div i {
  font-size: 1.4em;
  color: var(--color-dark-900);
}
.dad .son .anex .files div span {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
}
.dad .son .go {
  align-self: center;
  margin-top: 3vh;
  background-color: var(--color-dark-100);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 16px 20px;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  width: 40vh;
  transition: background-color 0.3s ease;
}
.dad .son .go:hover {
  background-color: var(--color-red-50);
}/*# sourceMappingURL=faz_denun.css.map */